<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notebook</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div id="NotebookApp" class="Notebook">

        <!-- create add buttom -->
        <span type="button" class="buttonAdd" v-on:click="AddContent()">&plus;</span>

        <!-- display notes -->
        <div v-for="(object,index) in notebookContent">

            <textarea class='notebox' placeholder="---" v-model="object.content" v-on:keyUp="SaveNotes()"></textarea>
            <span type="button" class='buttonDelete' v-on:click="DeleteContent(index)">&Cross;</span>


        </div>





    </div>


    
</body>
<script src="vue.js"></script>
<script src="main.js"></script>
</html>