body{

    background-color: #253550;
}

.Notebook{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}

.buttonAdd{

    color:coral;
    font-size: xx-large;
    font-weight: 900;
    cursor: pointer;
    margin:20px;

}

.notebox{

    width: 350px;
    height: 90px;
    padding: 10px;
    background-color: #545454;
    outline: none !important;

    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 500;
    color: yellow;



}

.buttonDelete{

    color:red;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    margin-left:20px;


}